# === Ambiente e Segurança ===
.env
.env.backup
.env.production
.env.local
/auth.json
/storage/*.key

# === Dependências ===
/vendor
/node_modules

# === Build e Compilação ===
/public/build
/public/hot
/public/storage

# === Cache e Logs ===
*.log
.phpunit.result.cache
/.phpunit.cache
/storage/pail
/storage/framework/views/*.php
/storage/framework/cache/*
/storage/framework/sessions/*

# === IDEs e Editores ===
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
.trae/

# === Sistema Operacional ===
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
